<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta http-equiv="Content-Security-Policy" content="default-src * data:; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">
	<title>Hackers & Hunters</title>

	<script src="components/loader.js"></script>
	<script src="lib/angular/angular.min.js"></script>
	<script src="lib/angular/angular-aria.min.js"></script>
	<script src="lib/angular/angular-animate.min.js"></script>
	<script src="lib/angular/angular-messages.min.js"></script>
	<script src="http://ngmaterial.assets.s3.amazonaws.com/svg-assets-cache.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.7/angular-material.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
	<script src="lib/onsenui/js/onsenui.min.js"></script>
	<script src="lib/onsenui/js/angular-onsenui.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/appController.js"></script>
	<script src="js/homeController.js"></script>

	<link rel="stylesheet" href="components/loader.css">
	<link rel="stylesheet" href="lib/onsenui/css/onsenui.css">
	<link rel="stylesheet" href="lib/onsenui/css/onsen-css-components.css">
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>

<body ng-controller="appController">
	<ons-navigator var="nav" animation="fade" page="welcome.html">
	</ons-navigator>
</body>

<ons-template id="home.html">
	<ons-page ng-controller="homeController" style="background-color: orange;">
		<ons-toolbar>
			<div class="left">
                <ons-toolbar-button ng-click="carousel.prev()">
                    <ons-icon icon="md-chevron-left"></ons-icon>
                </ons-toolbar-button>
			</div>
			<div class="center">
				<ons-icon icon="fa-product-hunt"></ons-icon>
					HnH (Welcome {{$storage.username}})
			</div>
			<div class="right">
		        <ons-toolbar-button ng-click="carousel.next()">
		            <ons-icon icon="md-chevron-right"></ons-icon>
		        </ons-toolbar-button>
		    </div>
		</ons-toolbar>

		<ons-pull-hook ng-action="refreshHunt($done)" var="loader">
		    <span ng-switch="loader.state">
		        <span ng-switch-when="initial"><ons-icon size="35px" icon="ion-arrow-down-a"></ons-icon> Pull down to refresh</span>
		        <span ng-switch-when="preaction"><ons-icon size="35px" icon="ion-arrow-up-a"></ons-icon> Release to refresh</span>
		        <span ng-switch-when="action"><ons-icon size="35px" spin="true" icon="ion-load-d"></ons-icon> Fetching hunt ...</span>
		    </span>
	  </ons-pull-hook>

		<ons-carousel direction="vertical" var="carousel" fullscreen auto-scroll>
			<ons-carousel-item style="background-color: orange;">
				<div class="absolute-center" id="hunt-summary" ng-show="randomhunt != null">
					<section>
						<ons-button modifier="light" ng-repeat="topic in randomhunt.topics">
							{{topic.name}}
						</ons-button>
					</section>

					<h1>{{randomhunt.name}}<sup>{{randomhunt.votes_count}}</sup></h1>
					<!-- split the name to smaller size in case > 30 chars -->
					<h2>{{randomhunt.tagline}}</h2>

					<ons-button id="thumb" ng-click="carousel.setActiveIndex(1)"> <!-- ng-click="gotoHunt(randomhunt)" -->
						<img ng-src="{{randomhunt.thumbnail.image_url}}">
					</ons-button>

					<div id="podcast" ng-if="randomhunt.hasAudio">
						<audio controls>
							<source ng-src="{{randomhunt.audioUrl | trustUrl}}" type="audio/ogg">
								Your device does not support the audio element.
						</audio>
					</div>
				</div>

				<div class="center" id="refresh" ng-show="randomhunt == null">
					<ons-icon icon="fa-refresh" spin="true"></ons-icon>
				</div>
			</ons-carousel-item>
			
			<ons-carousel-item style="background-color: black;">
				<iframe width="100%" height="100%" frameborder="0" ng-src="{{randomhunt.redirect_url | trustUrl}}">
				</iframe>
			</ons-carousel-item>

		</ons-carousel>
	</ons-page>
</ons-template>

<ons-template id="welcome.html">
	<ons-page>
      	<div class="absolute-center small">
        	<ons-input placeholder="What should we call you? " maxlength="12" float ng-model="username"></ons-input>
        	<!-- <br/>
        	<ons-input placeholder="Email? " type="email" float ng-model="useremail"></ons-input> -->
        	<br/>
        	<ons-button ng-if="username == null || username == ''"  ng-click="nav.pushPage('home.html')">
	        	Skip
	        </ons-button>
	        <ons-button ng-if="username != null && username != ''" ng-click="nav.pushPage('home.html'); $storage.username=username; $storage.useremail=useremail">
	        	Continue
	        </ons-button>
      	</div>
	</ons-page>
</ons-template>

<ons-template id="hunt.html">
	<ons-page>
		<ons-toolbar>
			<div class="left">
				<ons-back-button>Back</ons-back-button>
			</div>
			<div class="center">
				<ons-icon icon="fa-product-hunt"></ons-icon>
				{{ randomhunt.name }} 
			</div>
		</ons-toolbar>

		<iframe width="100%" height="100%" frameborder="0" ng-src="{{randomhunt.redirect_url | trustUrl}}">
		</iframe>

		<ons-bottom-toolbar ng-click="loadUrl(randomhunt.redirect_url)">
		<p>
			Please tap here if the hunt fails to load
		</p>
		</ons-bottom-toolbar>
	</ons-page>
</ons-template>

</html>
