html{
	font-size:110%;
	text-align: center;
}

@media(min-width:20em) {

	h1 {
		color: #111; 
		font-family: 'Helvetica Neue', sans-serif; 
		font-size: 3em; 
		font-weight: bold; 
		margin-bottom: 0;  
		margin-left: 0.5em;  
		margin-right: 0.5em; 
		letter-spacing: -1px; 
		line-height: 0.75; 
	}

	h2 { 
		color: #fff; 
		font-family: 'Open Sans', sans-serif; 
		font-size: 1em; 
		font-weight: 200; 
		margin: 0.5em 1em 1em 1em; 
		line-height: 0.85;
	}

	h3 {
		font-size:60%;
	}

	p { 
		color: #685206; 
		font-family: 'Helvetica Neue', sans-serif; 
		font-size: 0.5em; 
		margin: 0 0 24px; 
		text-align: justify; 
		text-justify: inter-word; 
	}

	sup { 
		color: #fff; 
		font-family: 'Open Sans', sans-serif; 
		font-size: 0.4em; 
		font-weight: 200;
	}
}

section{
    display: none;
    padding: 8px
}
body {
	background-color: #373B44
}

#thumb {
	max-width:     15em; 
	max-height:    10em;
	position:      relative;
	border:        2px solid #ddd;
    border-radius: 6px;
    padding:       5px;
}
#thumb img {
	display:       block;
	height:  100%; 
	width:   100%; 
    margin: auto;
	opacity: 0.5;
}
#podcast {
	margin-top: 0.3em; 
}

.absolute-center {
  width: 90%;
  height: 75%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.absolute-center .small {
	width: 50%;
    height: 55%;
    color: orange;
}

input[type=text] { 
	text-align:center; 
}

